@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoThin";
  src: url("../fonts/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "JaapokkiSubtract";
  src: url("../fonts/jaapokkisubtract-regular.ttf");
  font-style: normal;
  font-weight: normal; }

.windows8 {
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto; }

.windows8 .wBall {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 3.6325s infinite;
  -o-animation: orbit 3.6325s infinite;
  -ms-animation: orbit 3.6325s infinite;
  -webkit-animation: orbit 3.6325s infinite;
  -moz-animation: orbit 3.6325s infinite; }

.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #3366ff;
  left: 0px;
  top: 0px;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.windows8 #wBall_1 {
  animation-delay: 0.796s;
  -o-animation-delay: 0.796s;
  -ms-animation-delay: 0.796s;
  -webkit-animation-delay: 0.796s;
  -moz-animation-delay: 0.796s; }

.windows8 #wBall_2 {
  animation-delay: 0.153s;
  -o-animation-delay: 0.153s;
  -ms-animation-delay: 0.153s;
  -webkit-animation-delay: 0.153s;
  -moz-animation-delay: 0.153s; }

.windows8 #wBall_3 {
  animation-delay: 0.3165s;
  -o-animation-delay: 0.3165s;
  -ms-animation-delay: 0.3165s;
  -webkit-animation-delay: 0.3165s;
  -moz-animation-delay: 0.3165s; }

.windows8 #wBall_4 {
  animation-delay: 0.4695s;
  -o-animation-delay: 0.4695s;
  -ms-animation-delay: 0.4695s;
  -webkit-animation-delay: 0.4695s;
  -moz-animation-delay: 0.4695s; }

.windows8 #wBall_5 {
  animation-delay: 0.633s;
  -o-animation-delay: 0.633s;
  -ms-animation-delay: 0.633s;
  -webkit-animation-delay: 0.633s;
  -moz-animation-delay: 0.633s; }

@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    origin: 0%; }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
            transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    origin: 7%; }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
            transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    origin: 30%; }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
            transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    origin: 39%; }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    origin: 70%; }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
            transform: rotate(900deg); } }

@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out; }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%; }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%; }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%; }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%; }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%; }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg); }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg); } }

body {
  margin: 0 0 0 0;
  font-family: "RobotoLight";
  background-color: #f2f0f1; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

strong {
  color: #FF6633; }

.container {
  margin: 0 0 0 0;
  width: 100%; }

.preloader {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2; }
  .preloader .indicator {
    height: auto;
    width: auto;
    z-index: 3;
    margin-top: 20%; }

.row {
  margin: 0 0 0 0; }

#header-fluid {
  background: url("..//img/head-bg-white-book.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #333; }

.blured {
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  -webkit-filter: blur(4px);
          filter: blur(4px); }

.non-blured {
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  -webkit-filter: blur(0px);
          filter: blur(0px); }

.contact-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 5; }

.form {
  height: 400px;
  width: 700px;
  margin-top: 11%;
  margin-bottom: 11%;
  margin-left: 55%;
  position: relative;
  background-color: #f2f0f1; }
  .form form {
    color: white;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 25%;
    font-size: 20px; }
    .form form input {
      height: 40px;
      width: 500px;
      margin-bottom: 50px;
      background-color: transparent;
      border: none;
      border-bottom: 1px #FF6633 solid;
      outline: none; }
    .form form button {
      color: #333;
      float: right;
      background-color: transparent;
      width: 100px;
      border: 1px #333 solid;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
      .form form button:hover {
        color: #FF6633; }
  .form .close-wrapper {
    position: absolute;
    top: -5%;
    width: 720px;
    height: 20px;
    text-align: right; }
    .form .close-wrapper .fa {
      font-size: 18px;
      color: #fff; }
      .form .close-wrapper .fa:hover {
        color: #FF6633;
        cursor: pointer; }

#nav .col-lg-1 {
  text-align: center; }
  #nav .col-lg-1 a {
    font-family: "RobotoThin";
    font-size: 16px;
    color: #333;
    text-decoration: none; }
    #nav .col-lg-1 a:hover {
      color: #FF6633; }

#title {
  height: 600px;
  padding-top: 10%; }
  #title h1 {
    font-family: "Robotolight";
    font-size: 7em;
    text-align: right; }
  #title h2 {
    font-family: "RobotoThin";
    text-align: right;
    font-size: 3em;
    margin-right: 10px;
    line-height: 60px; }
  #title span {
    color: #FF6633; }

#arrow {
  margin-top: 100px; }
  #arrow .col-lg-12 {
    height: 60px;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center center;
    background-image: url("../img/scroll-down.png");
    background-repeat: no-repeat;
    cursor: pointer; }

#section1 {
  height: 670px; }

.browser {
  height: 400px;
  width: 600px;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/browser.png"); }

.sect1desc {
  font-size: 16px;
  width: 400px;
  height: 400px;
  float: right; }
  .sect1desc p {
    margin-top: 20%;
    text-align: left; }

#section2 {
  height: 670px; }
  #section2 .row, #section2 .container, #section2 .fp-tableCell {
    height: 400px; }

.circle {
  height: 400px;
  width: 400px;
  float: right;
  margin-right: 15px;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/circle.png"); }

.sect2desc {
  margin-left: 15px;
  font-size: 16px;
  width: 400px;
  height: 400px;
  float: left; }
  .sect2desc p {
    margin-top: 18%;
    text-align: left; }

.sect3desc {
  margin-top: 40%;
  text-align: center; }

.desc {
  height: 400px;
  display: table-cell;
  vertical-align: middle; }

#slide1 .preview {
  background-image: url("../img/head-bg-white-chair.jpg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; }

#slide2 .preview {
  background-image: url("../img/head-bg-gray.jpg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; }

#slide3 .preview {
  background-image: url("../img/head-bg-gray.jpg");
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px; }

.fp-controlArrow.fp-next {
  right: -20px;
  top: 55%;
  border-width: 20px 0 20px 10px;
  border-color: transparent transparent transparent #999; }
  .fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent #FF6633; }

.fp-controlArrow.fp-prev {
  left: -20px;
  top: 55%;
  width: 0;
  border-width: 20px 10px 20px 0;
  border-color: transparent #999 transparent transparent; }
  .fp-controlArrow.fp-prev:hover {
    border-color: transparent #FF6633 transparent transparent; }

.fp-tableCell {
  height: 500px !important; }
